---
// Militär und Survival oder Behördenkleidung oder Corporate Fashion
import Layout from "@/layouts/Layout.astro";
import products from "@/content/clothing";
import { clothingCategories } from "@/content/productcategories";
import type { AstroLocals } from "@/types";

const { locals } = Astro as unknown as { locals: AstroLocals };
const pageLanguage = locals.language;
---

<Layout>
    {
        Object.keys(clothingCategories).map((category) => {
            return (
                <h2>{clothingCategories[category][pageLanguage]}</h2>
                <p>
                    {products
                        .filter((product) => product.category.key == category)
                        .map((p) => {
                            return <span>{p.title[pageLanguage]}</span>;
                        })}
                </p>
            );
        })
    }
    <p></p>
</Layout>
