---
import Layout from "@/layouts/Layout.astro";
import CategoryHeader from "@/components/CategoryHeader.astro";
import { clothingCategories } from "@/content/clothingCategories";
import bekleidung from "@/assets/projekte.jpg";
const pageLanguage = Astro.locals.language;
const textContent = {
  title: {
    de: "Bekleidungslösungen für Unternehmen, Militär und Behörden",
    en: "Reusable Solutions for Roll Cage Trolleys",
  },
  text: {
    de: "Lorem ipsum dolor sit amet. Sit molestias esse et voluptas ducimus est nihil sunt et velit nostrum aut blanditiis tenetur. Est animi sunt ex quae ipsam et distinctio impedit ea commodi necessitatibus quo explicabo soluta sit cumque exercitationem et ipsum doloremque.",
    en: "Lorem ipsum dolor sit amet. Sit molestias esse et voluptas ducimus est nihil sunt et velit nostrum aut blanditiis tenetur. Est animi sunt ex quae ipsam et distinctio impedit ea commodi necessitatibus quo explicabo soluta sit cumque exercitationem et ipsum doloremque.",
  },
};
---

<Layout>
  <section>
    <div class="container">
      <CategoryHeader
        categories={clothingCategories}
        pageLanguage={pageLanguage}
        textContent={textContent}
      />
    </div>
  </section>
</Layout>
<style>
  section {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        var(--verydarkgray)
      ),
      var(--bg);
    background-size: cover;
    background-position: left;
    padding-top: 100px;
    position: relative;
    min-height: 50vh;
  }
</style>
