---
import Layout from "@/layouts/Layout.astro";
import CategoryHeader from "@/components/CategoryHeader.astro";
import { clothingCategories } from "@/content/clothingCategories";
import bekleidung from "@/assets/projekte.jpg";
const pageLanguage = Astro.locals.language;
const textContent = {
  title: {
    de: "Bekleidungslösungen für Unternehmen, Militär und Behörden",
    en: "Tailored Clothing Solutions for Government, Military, and Corporate Clients",
  },
  text: {
    de: "Als zuverlässiger Partner für Militär, Behörden, Sicherheitsdienste und Unternehmen bieten wir ein sorgfältig ausgewähltes Sortiment an funktionaler und langlebiger Berufskleidung. Ob für den anspruchsvollen Einsatz im Feld, den täglichen Dienst bei Behörden oder ein einheitliches, professionelles Auftreten im Unternehmen – unsere Bekleidungslösungen vereinen Funktionalität, Komfort und Qualität.",
    en: "As a trusted partner to the military, government agencies, security services, and corporate clients, we offer a carefully curated selection of functional and durable professional apparel. Whether for demanding field operations, daily duty within official institutions, or a cohesive and professional corporate appearance – our clothing solutions combine functionality, comfort, and quality.",
  },
};
---

<Layout>
  <section>
    <div class="container">
      <CategoryHeader
        categories={clothingCategories}
        pageLanguage={pageLanguage}
        textContent={textContent}
      />
    </div>
  </section>
</Layout>
<style>
  section {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        var(--verydarkgray)
      ),
      var(--bg);
    background-size: cover;
    background-position: left;
    padding-top: 100px;
    position: relative;
    min-height: 50vh;
  }
</style>
