.rich-text h1 {
  font-size: 2.1rem;
  line-height: 120%;
  color: var(--verydarkgray);
  letter-spacing: -1px;
  margin: 20px 0;
}

.rich-text h2 {
  font-size: 1.7rem;
  color: var(--verydarkgray);
  letter-spacing: -1px;
  margin: 20px 0;
}

.rich-text h3 {
  font-size: 1.6rem;
  color: var(--verydarkgray);
  letter-spacing: -1px;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 1.4rem;
  color: var(--verydarkgray);
  letter-spacing: -1px;
  margin: 20px 0;
}

.rich-text h5 {
  font-size: 1.2rem;
  color: var(--verydarkgray);
  letter-spacing: -1px;
  margin: 20px 0;
}

.rich-text h6 {
  font-size: 1rem;
  color: var(--verydarkgray);
  letter-spacing: -1px;
  margin: 20px 0;
}

.rich-text * {
  word-wrap: break-word;
  /* Alternative Schreibweise */
  overflow-wrap: break-word;
  /* Verhindert horizontales Scrollen */
  white-space: normal;
  /* Falls Text zuvor als nowrap gesetzt wurde */
}

.rich-text p {
  color: var(--verydarkgray);
  font-size: 0.9rem;
  font-weight: 400;
}
.rich-text ul {
  color: var(--verydarkgray);
  font-size: 0.9rem;
  font-weight: 400;
}
.rich-text a {
  color: var(--verydarkgray);
  font-size: 0.9rem;
  font-weight: 400;
}
