---
import CEO from "@/assets/CEO.webp";
import Quotes from "@/assets/Quotes.svg";
const { language } = Astro.props;

const cite = {
  de: `"Seit 1957 stehen wir für erstklassige Funktionalität, Langlebigkeit und Innovation in der Produktion von Militär- und Behördenbekleidung. Mit unserer jahrzehntelangen Erfahrung und höchsten Qualitätsstandards bieten wir nun auch Outdoor-, Survival- und Sicherheitsanbietern maßgeschneiderte Bekleidungslösungen. Unser Ziel ist es, Profis in jeder Situation zuverlässig auszurüsten – mit Kleidung, die schützt, unterstützt und höchsten Anforderungen gerecht wird."`,
  en: `"Since 1957, we have stood for outstanding functionality, durability, and innovation in the production of military and official agency clothing. With decades of experience and the highest quality standards, we now also offer customized clothing solutions for outdoor, survival, and security providers. Our goal is to equip professionals reliably in any situation – with clothing that protects, supports, and meets the highest demands."`,
};
---

<section>
  <img src={Quotes.src} alt="" class="img-absolute animatable-opacity" />
  <div class="container">
    <p class="cite animatable">
      {cite[language]}
    </p>
    <img src={CEO.src} alt="" class="ceo animatable" />
    <div class="ceo-and-role">
      <p class="ceo-name">Klaus Feuchter</p>
      <p class="job-role">CEO, Feuchter GmbH</p>
    </div>
  </div>
</section>
<style>
  section {
    background: var(--verydarkgray);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .img-absolute {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: -1;
    opacity: 0;
    width: 20%;
    height: auto;
    @media screen and (max-width: 820px) {
      bottom: auto;
      top: 0;
      left: -20px;
      width: 80%;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
  }
  p {
    text-align: center;
    color: var(--lightgray);
  }
  .cite {
    font-style: italic;
    max-width: 70%;
    line-height: 2.2rem;
    font-size: 1.8rem;
    @media screen and (max-width: 820px) {
      max-width: 90%;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
  .ceo-and-role {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .ceo {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: var(--boxshadow);
  }
  .ceo-name {
    margin: 0;
    font-family: "Afacadflux", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  .job-role {
    margin: 0;
    font-size: 0.7rem;
    color: var(--sand);
  }
</style>
