---
const currentLang = Astro.params.lang ?? "de"; // Fallback auf Deutsch
const currentPath = Astro.url.pathname; // Die aktuelle URL
const { langs } = Astro.props as { langs: { lang: string; url: string }[] };
// Die nächsten 3 Zeilen sind wichtig, wenn man auf Seiten die Sprache wechselt,
// auf denen Search Params genutzt werden
const { url } = Astro.request;
const searchParams = new URL(url).searchParams;
const searchCategory = searchParams.get("category");
let searchparamString = "";
if (searchCategory) {
  searchparamString = `?category=${searchCategory}`;
}
---

<nav>
  <ul>
    {
      langs.map(({ lang, url }) => (
        <li>
          <a href=`${url}${searchparamString}` class={currentLang === lang ? "active" : ""}>
            {lang.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  nav a {
    text-decoration: none;
    color: var(--lightgray);
    padding: 0px 0px;
    font-size: 0.7rem;
    font-weight: 100;
  }
  .active {
    font-weight: 900 !important;
    color: var(--sand) !important;
  }
</style>
