---
import Circles from "../assets/Quotes.svg";
import Hochzeiten from "../assets/konzeption.jpg";
import Corporate from "../assets/produktion.jpg";
import Birthday from "../assets/logistik.jpg";
const leistungen = [
  {
    icon: Hochzeiten.src,
    title: "Entwicklung & Konzeption",
    text: "Von der ersten Idee bis zum fertigen Design entwickeln wir passgenaue Bekleidungslösungen, die höchsten Anforderungen gerecht werden. Unser erfahrenes Team erarbeitet individuelle Konzepte, die Funktionalität, Komfort und Stil vereinen – maßgeschneidert auf die Bedürfnisse von Militär, Behörden und Unternehmen.",
  },
  {
    icon: Corporate.src,
    title: "Produktion",
    text: "In unserer Produktion setzen wir auf modernste Technologien und höchste Qualitätsstandards. Jedes Kleidungsstück wird sorgfältig gefertigt, um Langlebigkeit und maximale Funktionalität zu gewährleisten. Dabei kombinieren wir technisches Know-how mit einem präzisen Auge für Details, um robuste Arbeitskleidung und exklusive Corporate Fashion zu liefern.",
  },
  {
    icon: Birthday.src,
    title: "Logistik & Vertrieb",
    text: "Effiziente Logistikprozesse und ein starker Vertriebsservice garantieren, dass Ihre Bestellung termingerecht und zuverlässig bei Ihnen ankommt. Wir kümmern uns um die gesamte Lieferkette – von der Produktion bis zur Auslieferung – und stellen sicher, dass Ihre Mitarbeiter stets optimal ausgestattet sind.",
  },
];
---

<section id="leistungen">
  <div class="container">
    <h2 class="animatable">Leistungen</h2>
    <p class="subtitle animatable">
      Von der Entwicklung, über die Produktion bis hin zur Logistik
    </p>
    <div class="rezensionen-grid">
      {
        leistungen.map((leistung) => {
          return (
            <div class="rezension-card animate-in-right">
              <div class="icon-and-title">
                <img
                  src={leistung.icon}
                  alt=""
                  class="card-icon"
                  loading="lazy"
                  width="150"
                  height="150"
                />
                <p class="card-title">{leistung.title}</p>
              </div>
              <p class="card-text">{leistung.text}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    padding: 50px 0 !important;
  }
  .container {
    position: relative;
    align-items: flex-start;
    @media screen and (max-width: 820px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 1024px) and (min-width: 821px) {
      padding: 0 70px;
    }
  }
  .subtitle {
    text-align: left;
    margin: 0;
    font-weight: 600;
  }
  .scribble {
    position: absolute;
    top: 0;
    left: 5vw;
    object-fit: contain;
    z-index: -1;
    opacity: 0.2;
    width: 20%;
  }
  .rezensionen-grid {
    width: 100%;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    margin-top: 25px;
    @media screen and (max-width: 820px) {
      grid-template-columns: auto;
    }
    @media screen and (max-width: 1024px) and (min-width: 821px) {
      grid-template-columns: auto auto;
    }
  }
  .rezension-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  .rezension-card p {
    margin: 0;
  }
  .card-icon {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    filter: sepia(100%);
  }
  .card-title {
    font-weight: 800;
    font-size: 1.4rem;
  }
  .card-text {
    font-size: 0.8rem;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  section {
    padding: 50px 0;
  }
  h2 {
    align-self: flex-start;
    margin-bottom: 0px;
    font-size: 3rem;
    font-family: "Afacadflux", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
  }
  .icon-and-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
  }
</style>
