---
import Circles from "../assets/Quotes.svg";
import Hochzeiten from "../assets/konzeption.jpg";
import Corporate from "../assets/produktion.jpg";
import Birthday from "../assets/logistik.jpg";
import { translations } from "@/content/translations";
const { language } = Astro.props;
const leistungen = [
  {
    translationKey: "konzeption",
    icon: Hochzeiten.src,
    title: "Entwicklung & Konzeption",
    text: {
      de: "Von der ersten Idee bis zum fertigen Design entwickeln wir passgenaue Bekleidungslösungen, die höchsten Anforderungen gerecht werden. Unser erfahrenes Team erarbeitet individuelle Konzepte, die Funktionalität, Komfort und Stil vereinen – maßgeschneidert auf die Bedürfnisse von Militär, Behörden und Unternehmen.",
      en: "From the initial idea to the final design, we develop customized clothing solutions that meet the highest standards. Our experienced team creates tailored concepts that combine functionality, comfort, and style – specifically designed to meet the needs of the military, government agencies, and businesses.",
    },
  },
  {
    translationKey: "produktion",
    icon: Corporate.src,
    title: "Produktion",
    text: {
      de: "In unserer Produktion setzen wir auf modernste Technologien und höchste Qualitätsstandards. Jedes Kleidungsstück wird sorgfältig gefertigt, um Langlebigkeit und maximale Funktionalität zu gewährleisten. Dabei kombinieren wir technisches Know-how mit einem präzisen Auge für Details, um robuste Arbeitskleidung und exklusive Corporate Fashion zu liefern.",
      en: "Our production process incorporates state-of-the-art technology and strict quality standards. Every garment is meticulously engineered for durability and peak performance. By merging advanced technical knowledge with precision craftsmanship, we create durable workwear and high-end corporate fashion.",
    },
  },
  {
    translationKey: "logistik",
    icon: Birthday.src,
    title: "Logistik & Vertrieb",
    text: {
      de: "Effiziente Logistikprozesse und ein starker Vertriebsservice garantieren, dass Ihre Bestellung termingerecht und zuverlässig bei Ihnen ankommt. Wir kümmern uns um die gesamte Lieferkette – von der Produktion bis zur Auslieferung – und stellen sicher, dass Ihre Mitarbeiter stets optimal ausgestattet sind.",
      en: "Seamless logistics and exceptional customer service ensure that your order is delivered on time and with complete reliability. From production to delivery, we handle the entire supply chain so that your team is always equipped with the best.",
    },
  },
];
---

<section id="leistungen">
  <div class="container">
    <h2 class="animatable">{translations("leistungen", language)}</h2>
    <p class="subtitle animatable">
      {translations("leistungensubtitle", language)}
    </p>
    <div class="rezensionen-grid">
      {
        leistungen.map((leistung) => {
          return (
            <div class="rezension-card animate-in-right">
              <div class="icon-and-title">
                <img
                  src={leistung.icon}
                  alt=""
                  class="card-icon"
                  loading="lazy"
                  width="150"
                  height="150"
                />

                <p class="card-title">
                  {translations(leistung.translationKey, language)}
                </p>
              </div>
              <p class="card-text">{leistung.text[language]}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    padding: 150px 0;
    background: var(--verydarkgray);
  }
  .container {
    position: relative;
    align-items: flex-start;
    @media screen and (max-width: 820px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 1024px) and (min-width: 821px) {
      padding: 0 70px;
    }
  }
  .subtitle {
    text-align: left;
    margin: 0;
    font-weight: 600;
    color: var(--sand);
  }
  .scribble {
    position: absolute;
    top: 0;
    left: 5vw;
    object-fit: contain;
    z-index: -1;
    opacity: 0.2;
    width: 20%;
  }
  .rezensionen-grid {
    width: 100%;
    display: grid;
    column-gap: 80px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    @media screen and (max-width: 820px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 1024px) and (min-width: 821px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .rezension-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }
  .rezension-card p {
    margin: 0;
    font-weight: 400;
  }
  .card-icon {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
  }

  .card-title {
    font-weight: 800 !important;
    color: var(--lightgray);
    font-size: 1.4rem;
  }
  .card-text {
    font-size: 0.9rem;
    line-height: 2rem;
    color: var(--lightgray);
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  section {
    padding: 50px 0;
  }
  h2 {
    align-self: flex-start;
    margin-bottom: 0px;
    font-size: 3rem;
    font-family: "Afacadflux", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--sand);
  }
  .icon-and-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    width: 100%;
  }
</style>
