---
const { product, pageLanguage } = Astro.props;
---

<div class="function">
    <div class="headline-and-title">
        <h2 class="animatable">{product.usps.headline[pageLanguage]}</h2>
        <p class="headline-text">{product.usps.intro[pageLanguage]}</p>
    </div>
    <div class="image-grid">
        {
            product.usps.items.map((item) => {
                return (
                    <div class="grid-item">
                        <p class="grid-item-title">
                            {item.title[pageLanguage]}
                        </p>
                        <p class="grid-item-text">{item.text[pageLanguage]}</p>
                    </div>
                );
            })
        }
    </div>
</div>

<style>
    h2 {
        background: linear-gradient(135deg, var(--lightgray), var(--sand));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem !important;
        line-height: 1.2rem !important;
        margin: 0;
        text-transform: uppercase;
    }
    .headline-and-title {
        border-right: 1px solid var(--sand);
        padding-right: 20px;
    }
    .headline-text {
        color: var(--lightgray);
        font-size: 0.9rem;
        font-weight: 500;
    }
    .function {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 50px 0;
        gap: 50px;
        @media screen and (max-width: 1028px) {
            grid-template-columns: 1fr;
            padding: 0 20px;
            margin: 0;
        }
    }
    .image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        @media screen and (max-width: 1028px) {
            grid-template-columns: 1fr;
        }
    }
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    .grid-item img {
        width: 30px;
        height: 30px;
    }
    .grid-item-title {
        color: var(--sand);
        font-size: 0.8rem;
        line-height: 1.1rem;
        margin-bottom: 0;
        margin: 0;
        text-transform: uppercase;
        font-family: "peridot-pe-variable", sans-serif !important;
        font-variation-settings:
            "ital" 0,
            "wdth" 800,
            "wght" 400 !important;
    }
    .grid-item-text {
        color: var(--lightgray);
        font-weight: 300;
        font-size: 0.8rem;
        margin: 0;
    }
</style>
