---
const { product, pageLanguage } = Astro.props;
---

<div class="function">
    <div class="headline-and-title">
        <h2 class="animatable">{product.images.headline[pageLanguage]}</h2>
        <p class="headline-text">{product.images.intro[pageLanguage]}</p>
    </div>
    <div class="main-image-and-grid">
        <div class="image-grid">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {
                        product.images.images.map((image) => {
                            return (
                                <div class="swiper-slide animatable">
                                    <img src={image} alt="" />
                                </div>
                            );
                        })
                    }
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        loop: true,
        breakpoints: {
            0: {
                slidesPerView: 1.5, // ab 0px – also auf Mobile
            },
            768: {
                slidesPerView: 2, // ab Tablet
            },
            1024: {
                slidesPerView: 3, // ab Desktop
            },
        },
    });
</script>
<style>
    .swiper {
        width: 100%;
        height: auto;
        min-height: 30vh;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--verydarkgray);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: auto;
        overflow: hidden;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 25px;
    }
    h2 {
        background: linear-gradient(135deg, var(--lightgray), var(--sand));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem !important;
        line-height: 1.2rem !important;
        margin: 0;
        text-transform: uppercase;
    }
    .headline-and-title {
        border-right: 1px solid var(--sand);
        padding-right: 20px;
    }
    .headline-text {
        color: var(--lightgray);
        font-size: 0.9rem;
        font-weight: 500;
    }
    .function {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 50px 0;
        gap: 50px;
        @media screen and (max-width: 1028px) {
            grid-template-columns: 1fr;
            padding: 0 20px;
            margin: 0;
            margin-top: 70px;
        }
    }
    .main-image-and-grid {
        display: grid;
        grid-template-columns: 1fr;
        @media screen and (max-width: 1028px) {
            grid-template-columns: 1fr;
        }
    }
    .main-image-wrapper img {
        width: 100%;
        height: auto;
    }
    .image-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        @media screen and (max-width: 1028px) {
            grid-template-columns: 1fr;
        }
    }
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .grid-item img {
        width: 50px;
        height: 50px;
        border-radius: 20px;
        cursor: pointer;
    }
    .grid-item-title {
        color: var(--lightgray);
        font-weight: 700;
        font-size: 0.8rem;
        margin-bottom: 0;
        text-align: center;
    }
    #color-mainImage {
        transition: all 0.15s ease-in-out;
    }
</style>
